.body {
    background-color: #E5E5E5;
    color: #212121;;
    font-family: 'Roboto';
}
.navigation-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    
    color: #2196F3;
}
.logo {
    color: black;
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    
    color: #2196F3;
}